@media (min-width: 765px) {
    .about-heading {
      font-size: 55px;
    }
    .content-right{
        position: relative;
      left: 25px;
    }
    .content-left{
      position: relative;
      left: 50px;
    }
  }
  @media (min-width: 1000px) {
    .about-heading {
      font-size: 60px; 
    }
    .content-right{
        position: relative;
      left: 30px;
    }
    .content-left{
      position: relative;
      left: 0px;
    }
  }
  @media (min-width: 1200px) {
    .about-heading {
      font-size: 70px;
       /* line-height: 0; */
       letter-spacing: 30px;
    }
    .content-right{
        position: relative;
      left: 120px;
       
    }
    .content-left{
      position: relative;
      left: -150px;
    }
  }



  @keyframes scrollVertical {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .scroll-text {
    animation: scrollVertical 5s linear infinite;
  }
  html, body {
    overflow-x: hidden;
    width: 100vw;
  }
  