@media (min-width: 765px) {
    .about-heading {
      width: 230px;
      position: absolute;
      left: 53%;
      top: -100px;
    }
    .content-right{
        position: relative;
      left: 70px;
    }
    .content-left{
      position: relative;
      left: -20px;
    }
  }
   @media (min-width: 1000px) {
    .about-heading {
      width: 240px; 
      position: absolute;
      left: 50%;
      top: -90px;
    }
    .content-right{
        position: relative;
      left: 80px;
    }
    .content-left{
      position: relative;
      left: -90px;
    }
  } 
   @media (min-width: 1200px) {
    .about-heading {
      font-size: 70px;
        
    }
    .content-right{
        position: relative;
      left: 150px;
       
    }
    .content-left{
      position: relative;
      left: -150px;
    }
  } 



  @keyframes scrollVertical {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .scroll-text {
    animation: scrollVertical 5s linear infinite;
  }
  html, body {
    overflow-x: hidden;
    width: 100vw;
     
  }
  