@media (min-width: 765px) {
    .about-heading {
      font-size: 55px;
    }
    .content-right{
        position: relative;
      left: 30px;
    }
  }
  @media (min-width: 1000px) {
    .about-heading {
      font-size: 70px; 
    }
    .content-right{
        position: relative;
      left: 40px;
    }
  }
  @media (min-width: 1200px) {
    .about-heading {
      font-size: 80px; 
    }
    .content-right{
        position: relative;
      left: 120px;
       
    }
  }